body{
    font-family: "Roboto";
    font-size: 13pt;
    background-color: #27041c;
    padding: 0;
    margin: 0;
}
.section{
    background-image: url("wallpaper.jpg");
    padding: 15px;
    margin-bottom: 0;
    border-radius: 10px;
}
h1 {
    font-size: 40pt;
    color: #ffffff;
    text-align: center;
    padding: 10px 0 50px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px #ffffff;
    padding: 10px;
}
h2 {
    font-size: 20pt;
    color: #ffffff;
    text-align: left;
    padding: 10px 0 50px 0;
    margin: 0 0 10px 0;
}
p {
    border : 4px #ffffff;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}
.picture{
    background-image: url("wallpaper.jpg");
    padding: 15px;
    margin-bottom: 0px;
    border-radius: 0px;
    height: 100px;
    width: 50px;
}
img{
    border-radius: 10%;
}